
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

:root{
    font-size: 30px;
}
h1{

    text-align: center;

}
    ul,h2,li,h3,h1 {
        text-align: center;
        color: rgb(232, 234, 236);
    }
    body{
        width: 90vw;
        margin: auto;
        font-size: 16px;
    }
    ul,li{
        color: rgb(255, 255, 255);
    }
    section{
        padding: 40px;
    }
    section#apresentacao{
        background-color: rgb(0, 0, 0);
        font: size 3rem;
        
        
    }
    section#formacao-academica{
        background-color: rgb(0, 0, 0);
    }
    section#competencias{
        background-color: rgb(0, 0, 0);
    }
    Section#competencias-socioemocionais{
       background-color: rgb(0, 0, 0); 
    }
    section#idiomas{
        background-color: rgb(0, 0, 0);
    }
    section#experiencia{
        background-color: rgb(0, 0, 0);
    }
    .titulo-secao{
        text-transform: uppercase;
        font-family: "Honk", system-ui;
       font-size: 2rem ; 
       margin: 1rem;
       padding: 1rem;
       border: 1px;

    }
    section#nome{
        background-color: black;
    }
    li{
        line-height: 1,5;
    }

