h1{

    text-align: center;

}
    ul,h2,li {
        text-align: center;
        
    }
    body{
        width: 90vw;
        margin: auto;
        font-size: 16px;
    }
    ul,li{
        color: blue;
    }

