
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

:root{
    font-size: 30px;
    scroll-behavior: smooth;
    --plano-fundo:#ffffff;
    --cor-primaria:#ffffff;
}
[data-tema="light"]{
    --plano-fundo:#ffffff;
    --cor-primaria:#ffffff;
    }
    [data-tema="dark"]{
        --plano-fundo:#000000;
        --cor-primaria:#000000;
    }


        
    body{
        width: 90vw;
        margin: auto;
        font-size : 16px;
    }
    ul,li{
        color: rgb(246, 76, 76);
    }
    section{
        padding: 40px;
    }
    section#apresentacao{
        background-color:var(--cor-primaria);
        font-size: 1rem;
        color: rgb(244, 69, 69) ;
        
    }
    section#formacao-academica{
        background-color:var(--cor-primaria)
    }
    section#competencias{
        background-color: var(--cor-primaria)
    }
    Section#competencias-socioemocionais{
       background-color:var(cor primaria)
    }

    section#idiomas{
        background-color: var(--cor-primaria)
    }

    section#experiencia{
        background-color: var(--cor-primaria)
    }

    section#tecnologias{
        background-color: var(--cor-primaria);
        display: flex;
        justify-content: space-evenly;
        
    }
    article h1{
        font-size: bold;
    }

    .titulo-secao{
        text-transform: uppercase;
        font-family: "Honk", system-ui;
       font-size: 2rem; 
       margin: 10px;
       padding: 10px;
       border: 1rem;

    }
    section#nome{
        background-color: var(--cor-primaria);
        color: rgb(240, 66, 66);
    }
    li{
        line-height: 1,5;
        margin: 1rem 0;
    }
    h3,h1,li{
        font-size: 1,5rem;
        font-weight: 300;
        text-transform: uppercase;
    }
    li,h3{
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    h1{
        font-size: 2rem ;
        text-shadow: rgb(240, 58, 64);
    }
    body{
        background-color: var(--plano-fundo)
    }
    section{
        color: rgb(245, 107, 107);
    }



    article{
            width: 30%;
            background-color:var(--cor-primaria);
            margin: 30px;
        }
    .continue-lendo{
            background: var(--cor-primaria);
            padding:  .5rem;
        }

        .continue-lendo a {
            text-decoration: none;
            color: rgb(152, 152, 172);
        }
